@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
  --primary-color: #85d454;
  --secondary-color: #d9f2ca;
  --background-color: #f0faeb;
  --text-color: #020401;
  --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --font-light: 200;
  --font-regular: 400;
  --font-bold: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}
